[submodule "gnolang-gno"]
	path = third_party/gnolang-gno
	url = https://github.com/gnolang/gno.git
[submodule "gnoswap"]
	path = third_party/gnoswap
	url = https://github.com/gnoswap-labs/gnoswap.git
[submodule "third_party/gno-realms"]
	path = third_party/gno-realms
	url = https://github.com/allinbits/gno-realms.git
