package main

import (
	"gno.land/p/onbloc/ibc/union/types"
	"gno.land/r/onbloc/ibc/union/core"
)

func main(cur realm) {
	core.ConnectionOpenInit(cross(cur), types.NewMsgConnectionOpenInit(types.ClientId(@COMETBLS_ID@), types.ClientId(99)))
}
