package main

import core "gno.land/r/onbloc/unionibc/v1/core"

func main(cur realm) {
	id := core.ConnectionOpenInit(cross(cur), core.NewMsgConnectionOpenInit(cross(cur), core.ClientId(@COMETBLS_ID@), core.ClientId(99)))
	println("connection_id", id.String())
}
