package main

import (
	core "gno.land/r/onbloc/unionibc/v1/core"
	e2e "gno.land/r/onbloc/unionibc/v1/apps/zkgm/testing/e2e"
)

func main(cur realm) {
	packet := core.NewPacket(
		cross(cur),
		core.ChannelId(@MOCK_SOURCE@),
		core.ChannelId(@MOCK_DEST@),
		[]byte("hello"),
		0,
		core.Timestamp(1<<60),
	)
	batchHash := e2e.BatchSend(cross(cur), packet)
	println("batch_hash", batchHash.String())
}
