package main

import (
	core "gno.land/r/core/ibc/v1/core"
	e2e "gno.land/r/gnoswap/ibc/v1/apps/zkgm/testing/e2e"
	_ "gno.land/r/gnoswap/ibc/v1/apps/zkgm/v0/loader"
)

func main() {
	packet := core.Packet{
		SourceChannelId:      core.ChannelId(@MOCK_SOURCE@),
		DestinationChannelId: core.ChannelId(@MOCK_DEST@),
		Data:                 []byte("hello"),
		TimeoutTimestamp:     core.Timestamp(1 << 60),
	}
	batchHash := e2e.BatchSend(cross, packet)
	println("batch_hash", batchHash.String())
}
