GNO_REPO=https://github.com/gnolang/gno
GNO_COMMIT=master

GNO_CHAIN_ID=dev
UNION_CHAIN_ID=union-devnet-1

GNO_RPC_PORT=16657
GNO_WEB_PORT=18888
GNO_INDEXER_PORT=48546

GNO_RPC=http://localhost:16657
GNO_WEB=http://localhost:18888
GNO_INDEXER=http://localhost:48546/graphql/query
UNION_RPC=http://localhost:26657
UNION_REST=http://localhost:1317
EVM_RPC=http://localhost:8545
BEACON_API=http://localhost:9596
# Optional: enable TestPostgresReady.
POSTGRES_ADDR=

GNO_RPC_INTERNAL=http://gno:26657
GNO_GNOKEY_REMOTE=gno:26657
GNO_INDEXER_INTERNAL=http://tx-indexer:8546/graphql/query
UNION_RPC_INTERNAL=http://host.docker.internal:26657

UNION_VOYAGER_DIR=../../../union-voyager
VOYAGER_CONFIG=./voyager-config.gno-union.jsonc

RELAYER_MNEMONIC=source bonus chronic canvas draft south burst lottery vacant surface solve popular case indicate oppose farm nothing bullet exhibit title speed wink action roast
TEST_MNEMONIC=source bonus chronic canvas draft south burst lottery vacant surface solve popular case indicate oppose farm nothing bullet exhibit title speed wink action roast
ADMIN_MNEMONIC=source bonus chronic canvas draft south burst lottery vacant surface solve popular case indicate oppose farm nothing bullet exhibit title speed wink action roast

RUN_PACKET_TESTS=0
