package main

import (
	"encoding/hex"

	u256 "gno.land/p/gnoswap/uint256"

	z "gno.land/p/onbloc/ibc/union/zkgm"
	"gno.land/p/onbloc/ibc/union/types"
	"gno.land/r/onbloc/ibc/union/core"
)

func mustAck(tag *u256.Uint, inner []byte) []byte {
	ack, err := z.EncodeAck(z.Ack{Tag: tag, InnerAck: inner})
	if err != nil {
		panic(err)
	}

	return ack
}

func main(cur realm) {
	packetData, err := hex.DecodeString("@REFUND_PACKET_DATA@")
	if err != nil {
		panic(err)
	}

	packet := core.NewPacket(
		types.ChannelId(@REFUND_SOURCE@),
		types.ChannelId(@REFUND_DEST@),
		packetData,
		types.Timestamp(2000000000000000000),
	)

	failureAck := mustAck(u256.Zero(), []byte("counterparty failed"))
	core.PacketAcknowledgement(cross(cur), core.NewMsgPacketAcknowledgement([]types.Packet{packet}, [][]byte{failureAck}, nil, 1))

	println("RESULT native ack-failure refund succeeded")
}
