package main

import (
	"encoding/hex"

	u256 "gno.land/p/gnoswap/uint256"

	z "gno.land/p/onbloc/ibc/union/zkgm"
)

func main(cur realm) {
	order := z.TokenOrderV2{
		Sender:      []byte("@SMOKE_KEY_ADDRESS@"),
		Receiver:    []byte("counterparty-receiver"),
		BaseToken:   []byte("ugnot"),
		BaseAmount:  u256.NewUint(100),
		QuoteToken:  []byte("counterparty-projected-quote"),
		QuoteAmount: u256.NewUint(100),
		Kind:        z.TOKEN_ORDER_KIND_INITIALIZE,
	}
	operand, err := z.EncodeTokenOrderV2(order)
	if err != nil {
		panic(err)
	}
	instruction := z.Instruction{
		Version: z.INSTR_VERSION_2,
		Opcode:  z.OP_TOKEN_ORDER,
		Operand: operand,
	}

	var salt [32]byte
	packetData, err := z.EncodeZkgmPacket(z.ZkgmPacket{
		Salt:        z.DeriveSenderSalt([]byte("@SMOKE_KEY_ADDRESS@"), salt),
		Path:        u256.Zero(),
		Instruction: instruction,
	})
	if err != nil {
		panic(err)
	}

	println("source_channel", "@REFUND_SOURCE@")
	println("destination_channel", "@REFUND_DEST@")
	println("operand_hex", hex.EncodeToString(operand))
	println("packet_data_hex", hex.EncodeToString(packetData))
}
